html {
	background: #30363d;
	color: #C9D1D9;
}
body {
	margin: 0;
	padding: 0;
}
.navbar{
	background: rgb(36, 35, 35);
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-left: 100px;
	padding-right: 100px; */
	padding: 0px 100px;
}
.logo {
	font-size: 32px;
	text-transform: capitalize;
	color: rgb(250, 93, 2);
}
ul{
	display: flex;
	justify-content: space-between;
}

li, a{
	color: aqua;
	list-style: none;
	list-style: none;
	text-decoration: none;

}

.navbar li a{
	text-transform: capitalize;
 	font-size: 19px;
	margin-right: 7px;
}


article{
	margin: 150px;
}